<% include partials/header %>

<div class="ui main text container segment">
  <div class="ui huge header"><%=blog.title%></div>
  <div class="ui top attached">
    <div class="item">
      <img src="<%=blog.image%>" alt="" class="ui centered rounded image">
      <div class="content">
        <span><%=blog.created.toDateString() %></span>
      </div>
      <div class="description">
        <p><%-blog.body%></p>
      </div>
      <form action="/blogs/<%=blog._id%>?_method=DELETE" id="delete" method="post">
        <button class="ui red basic button">Delete</button>
      </form>
      <!-- <form action="/blogs/<%=blog._id%>/edit" method="GET">
        <button class="ui green basic button">Edit</button>
      </form> -->
      <a href="/blogs/<%=blog._id%>/edit" class="ui green basic button">Edit</a>
    </div>
  </div>
</div>

<% include partials/footer %>